.color-black {
    color: black;
}
.bold{
    font-weight: bold;
}
.color-light {
    font-weight: lighter;
    color:black;
}
.img1 {
    width: 500px;
}
.butt{
    border-radius: 50px;
    width: 140px;
    color: white;
    text-align: center;
    height: 40px;
}
.img2 {
    width: 5px;
    height: px;
}
.butt2{
    width: 120px;
    
}
.img3 {
    background-color: royalblue;
}
.box {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}